fastapi
uvicorn
pydantic
pydantic-settings
asyncpg
numpy
pandas
scipy
aiokafka
alembic
psycopg2-binary
torch
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
